
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/adminarea/HomeAdmin/IndexAdmin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            Quản lý gara ô tô
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("IndexAdmin","HomeAdmin")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>


    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Danh mục</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Danh mục :</h6>
                <a class="collapse-item" href="@Url.Action("Index","NhaCungCap")">Nhà cung cấp</a>
                <a class="collapse-item" href="@Url.Action("Index","KhachHang")">Khách hàng</a>
                <a class="collapse-item" href="@Url.Action("Index","VatTus")">Linh kiện</a>
                <a class="collapse-item" href="@Url.Action("Index","NhanVien")">Nhân viên</a>
                <a class="collapse-item" href="@Url.Action("Index", "DichVus")">Dịch vụ</a>
                
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Sửa chữa</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sửa chữa</h6>
                <a class="collapse-item" href="utilities-color.html"> Bô đb</a>
                <a class="collapse-item" href="@Url.Action("Index", "DatLich")">Đặt lịch </a>
                <a class="collapse-item" href="@Url.Action("Index", "TiepNhanXe")">Tiếp nhận xe</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Thống kê
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Kho</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded"> 
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Xem thông tin</h6>
                <a class="collapse-item" href="@Url.Action("Create","NhapKho")">Nhập kho</a>
                <a class="collapse-item" href="@Url.Action("LSNhapKho","NhapKho")">Chi tiết nhập kho</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","ThongKeVt")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Thống kê</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","ThayVatTu")">
            <i class="fas fa-fw fa-table"></i>
            <span>Bảng linh kiện đã bán</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->

</ul>
