@model TestG.Models.BaoDuong1

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/adminarea/Views/Shared/_LayoutAdmi.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BaoDuong1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATLICH.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATLICH.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DichVu.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatTu.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatTu.Ten)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
