@model TestG.Models.BaoDuong1

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/adminarea/Views/Shared/_LayoutAdmi.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaoDuong1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATLICH.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATLICH.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DichVu.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatTu.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatTu.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDBaoDuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
