@model TestG.Models.NhapKho

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/adminarea/Views/Shared/_LayoutAdmi.cshtml";
    int i = 0;
    int tong = 0;
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="form-group col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4">
                    <label class="control-label col-md-8">Nhà cung cấp</label>
                    <div class="col-md-12">
                        @Html.DropDownList("IDNCC", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDNCC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="control-label col-md-4">Ngày nhập</label>
                    <div class="col-md-12">
                        <input type="date" class="form-control" value="@string.Format("{0:yyy-MM-dd}",Model.NgayNhap)" name="NgayNhap" />

                        @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="margin-top:30px">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
}
@if (ViewBag.CreatedCTNhapKhoID != null)
{
    <div>
        <h4>Thông tin</h4>
        <table class="table">
            <tr>
                <td>
                    <strong>IDNhapKho</strong>
                </td>
                <td>
                    NK000 @Html.DisplayFor(model => model.IDNhapKho)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Nhà cung cấp</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NhaCungCap.Ten)
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Ngày tạo</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NgayNhap)
                </td>
            </tr>
        </table>
    </div>
<a class="btn btn-danger" href="@Url.Action("Details", "NhapKho", new { id = @Html.DisplayFor(model => model.IDNhapKho) })">Chọn linh kiện</a>

    <hr />


}

