@model TestG.Models.ChiTietUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/adminarea/Views/Shared/_LayoutAdmi.cshtml";
}


<h3 style="color:red" class="form-control-color">Bạn có chắc muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Dịa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            Lương
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.TenTK)
        </dd>
        <dt> Ảnh bìa: </dt>
        <dd> <img src="~/Images/@Model.Anh" alt=" @Model.HoTen"> </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-sm-3">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <div class="btn btn-outline-danger">
                @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    }
</div>
